@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

.recharts-wrapper:focus,
.recharts-wrapper :focus,
.recharts-surface:focus,
.recharts-surface :focus {
  outline: none;
}
